{{#link-to 'assessors.assessor.appointment' assessor class="link-color link-margin" ariaRole="button"}}
  <i class="fa fa-calendar left"></i> <span class="hidden-sm hidden-xs">Appointment</span>
{{/link-to}}
