{{#link-to 'appointments.create' appointment class="link-color link-margin" ariaRole="button"}}
  <i class="fa fa-calendar-plus-o left"></i> <span class="hidden-sm hidden-xs">Appointment</span>
{{/link-to}}
