<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="logo-wrap">
      <a class="logo" href="#"><img src="./assets/img/brand2.png"></a>
    </div>
    <div id="navbar" class="pull-right">
      <ul class="nav navbar-nav navbar-right">
        {{#if header.session.isAuthenticated}}
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="notify-menu fa fa-bell fa-2"></i>
              <span class="badge notify-badge">7</span>
            </a>
            <ul class="dropdown-menu header-notifications">
              <div class="notification-heading">
                <h4 class="header-title"><i class="fa fa-bell"></i> Notifications</h4>
                <a class="mark-read-text pull-right">Mark as read</a>
              </div>
              <li class="divider"></li>
             <div class="notifications-wrapper">
               <div class="notification-item clearfix">
                  <div class="item-avatar pull-left">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-right">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-left">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-right">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-left">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
                <div class="notification-item clearfix">
                  <div class="item-avatar pull-right">
                    <img class="" src="./assets/img/default_avatar_60x.jpg">
                    <span>1 month ago</span>
                  </div>
                  <p class="item-info"><a href="#" class="avatar-name">Dr.Adam Becker</a> has accepted your request for Dec 13. <a href="#">View</a></p>
                </div>
             </div>
              <li class="divider"></li>
              <div class="notification-footer clearfix">
                <a class="btn btn-sm btn-primary pull-right">View all</a>
              </div>
            </ul>
          </li>
          <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img class="profile-header-avatar" src="./assets/img/default_avatar_30x.jpg">
              <span class="profile-name hidden-sm hidden-xs">{{header.session.first_name}} {{header.session.last_name}}</span>
              <span class="profile-name caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>{{#link-to "home"}}Home{{/link-to}}</li>
              <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
              <li role="separator" class="divider"></li>
              <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
            </ul>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
