<span class="sidenav-toggle active" {{action "toggleSideBar"}}><i class="fa fa-bars"></i></span>
<div class="page-title">
  <span>XYZ Corporation</span>
  <div class="btn-wrapper">
    {{component titlebar.right_content model=titlebar.right_content_model}}
  </div>
</div>
