<div class="list-group dashboard-nav">
  {{#link-to "home" class="list-group-item"}}
    <i class="fa fa-home fa-2"></i><span class="visible-lg-inline visible-md-inline">Home</span>
  {{/link-to}}
  {{#if (or session.role_admin session.role_super_admin session.role_regional_admin session.role_global_admin)}}
    {{#link-to "admin-tasks" class="list-group-item"}}
      <i class="fa fa-tasks fa-2"></i><span class="visible-lg-inline visible-md-inline">Admin Tasks</span>
    {{/link-to}}
  {{/if}}
  {{#link-to "clients" class="list-group-item"}}
    <i class="fa fa-users fa-2"></i><span class="visible-lg-inline visible-md-inline">Clients</span>
  {{/link-to}}
  {{#if (or session.role_coordinator session.role_admin session.role_super_admin session.role_regional_admin session.role_global_admin)}}
    {{#link-to "assessors" class="list-group-item"}}
      <i class="fa fa-user fa-2"></i><span class="visible-lg-inline visible-md-inline">Assessors</span>
    {{/link-to}}
    {{#link-to "doctors" class="list-group-item"}}
      <i class="fa fa-user-md fa-2"></i><span class="visible-lg-inline visible-md-inline">Doctors</span>
    {{/link-to}}
  {{/if}}
  {{#link-to "appointments" class="list-group-item"}}
    <i class="fa fa-calendar fa-2"></i><span class="visible-lg-inline visible-md-inline">Appointments</span>
  {{/link-to}}
  {{#link-to "chats" class="list-group-item"}}
    <i class="fa fa-weixin fa-2"></i><span class="visible-lg-inline visible-md-inline">Chat</span>
  {{/link-to}}
  {{#link-to "profile" class="list-group-item"}}
    <i class="fa fa-user fa-2"></i><span class="visible-lg-inline visible-md-inline">My Profile</span>
  {{/link-to}}
  {{#link-to "logout" class="list-group-item"}}
    <i class="fa fa-power-off fa-2"></i><span class="visible-lg-inline visible-md-inline">Logout</span>
  {{/link-to}}
</div>
