<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" {{action "hideDialog"}}>×</button>
		<h4 class="modal-title">
			Terms of Use
		</h4>
	</div>
	<div class="modal-body">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" {{action "hideDialog"}}>Close</button>
  </div>
</div>
