<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" {{action "hideDialog"}}>×</button>
		<h4 class="modal-title">
			Service unavailable
		</h4>
	</div>
	<div class="modal-body">
    <div class="alert alert-danger">
      <strong><i class="fa fa-2 fa-warning"></i></strong> Sorry, our system is temprorily unavailable. Please try after sometimes.
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" {{action "hideDialog"}}>Close</button>
  </div>
</div>
