{{#modal-dialog
	close='hideDialog'
	targetAttachment="none"
	overlay-class="modal"
	translucentOverlay=true
	clickOutsideToClose=true
	container-class="modal-dialog"}}

	<div class="modal-content">
		<div class="modal-header">
	    <div class="alert alert-success">
	      <strong>Success!</strong>{{model.message}}
	    </div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" {{action "hideDialog"}}>Close</button>
		</div>
	</div>
{{/modal-dialog}}
