<span>
  <a href="#" role="button" class="link-color link-color-white link-margin" {{action "toggleChat"}}>
    {{#if opentok.fullscreen}}
       <i class="fa fa-minus"></i> <span class="hidden-sm hidden-xs">Minimize</span>
    {{else}}
      <i class="fa fa-expand"></i> <span class="hidden-sm hidden-xs">Maximize</span>
    {{/if}}
  </a>
</span>
