$primary-color: #293A86;
$header-color: #fff;
$primary-color-light: #697BCC;
$secondary-color: #F15829;
$primary-border-color: #c4c4c4;
$primary-border: 1px solid $primary-border-color;
$primary-panel-color: #90a4ae;
