<section class="col-md-12">
  <div class="panel panel-primary abuse-mental-form">
    <div class="panel-heading text-center">RECEIVING &amp; TRIAGE QUERY ASSESSMENT FORM</div>
  </div>
  <div class="height-adjustment">&nbsp;</div>
</section>
