section.account-block {
  padding: 100px;

  h2.page-title {
    font-family: "Open Sans Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 42px;
  }

  p.title-description {
    font-size: 18px;
  }
}
