section.appointment-block {
  .panel-heading {
    &.clickable {
      cursor: pointer;
    }
  }
  li.list-item {
    padding: 10px;

    .list-wrapper {
      background: #FAFDFF;;
      border: 1px solid #c4c4c4;
      -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      position: relative;

      .right-content {
        margin-left: 130px;
      }

      &:hover {
        background: #D9EDF7;
      }
    }
  }
}

section.appointment-time {
  .row-confirm {
    border: 1px solid #a94442;
    border-radius: 5px;
    padding: 15px;

    .confirm-btn-block {
      margin-top: 10px;
    }
  }
}
