section.appointment-block {
  .panel-heading {
    &.clickable {
      cursor: pointer;
    }
  }
}

section.appointment-time {
  .row-confirm {
    border: 1px solid #a94442;
    border-radius: 5px;
    padding: 15px;

    .confirm-btn-block {
      margin-top: 10px;
    }
  }
}
