section.appointments-request-block {
  table.request-table  {
    tbody {
      tr:hover {
        background: #D9EDF7;
      }
    }
  }

  .view-details {
    margin-left: 5px;
  }
}

section.calendar-block {
  padding: 50px 20px;
}
