section.clients-list-block {
  section.search-header {
    padding: 10px;
  }

  li.client-list-item {
    padding: 10px;

    .client-wrapper {
      background: #fff;
      border: 1px solid #c4c4c4;
      -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      position: relative;
      padding: 0px 20px;

      .toggle-select {
        margin: 5px;
        margin-right: 13px;
        color: #2980B9
      }

      &:hover {
        background: #D9EDF7;
      }
    }
  }
}
