section.clients-add-block {

  section.add-client-container {
    border: 1px solid #ddd;
    padding: 0;
    margin: 10px;

    .family-memeber-row {
      background-color: #DEDEDE;
      padding: 0;
      margin-bottom: 10px;

      .btn-remove {
        color: #d9534f;
        font-size: 14px;
      }
    }

    .container-title {
      background-color: #DEDEDE;
      margin: 0;
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}
