body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.428571429;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #03a9f4;
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hide-visible {
  visibility: hidden;
}

.ember-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog {
  z-index: 1000000;
}

.bs-callout {
  margin: 0 0;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 3px solid #eee;

  &.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
  }
}

@keyframes loadingBar { /* CSS3 */
	0%   { width: 0% }
  25%  { width: 25% }
	50%  { width: 50% }
  100% { width: 75% }
	100% { width: 100% }
}

@-moz-keyframes loadingBar { /* Firefox */
  0%   { width: 0% }
  25%  { width: 25% }
	50%  { width: 50% }
  100% { width: 75% }
	100% { width: 100% }
}

@-o-keyframes loadingBar { /* Firefox */
  0%   { width: 0% }
  25%  { width: 25% }
	50%  { width: 50% }
  100% { width: 75% }
	100% { width: 100% }
}

@-webkit-keyframes loadingBar { /* Webkit */
  0%   { width: 0% }
  25%  { width: 25% }
	50%  { width: 50% }
  100% { width: 75% }
	100% { width: 100% }
}

.loading-bar {
  background-color: red;
  height: 5px;
	animation:         loadingBar 20s linear infinite; /* CSS3 */
	-moz-animation:    loadingBar 20s linear infinite; /* Firefox */
  -o-animation:    loadingBar 20s linear infinite; /* Firefox */
	-webkit-animation: loadingBar 20s linear infinite; /* Webkit */
}

.help-block {
  &.prevent-error {
    color: #737373!important;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@keyframes progress-bar { /* CSS3 */
	0%   { width: 0% }
  25%  { width: 25% }
	50%  { width: 50% }
  100% { width: 75% }
	100% { width: 100% }
}
@-moz-keyframes progress-bar { /* Firefox */
	0%   { background-color: green; }
	50%  { background-color: yellow; }
	100% { background-color: #efefef; }
}
@-webkit-keyframes progress-bar { /* Webkit */
	0%   { background-color: green; }
	50%  { background-color: yellow; }
	100% { background-color: #efefef; }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100000;
}

.loader-progress-bar {
  background-color: #FB792D;
  height: 3px;
	animation:         progress-bar 20s linear infinite; /* CSS3 */
	-moz-animation:    progress-bar 20s linear infinite; /* Firefox */
	-webkit-animation: progress-bar 20s linear infinite; /* Webkit */
}

.overflow-hidden {
  overflow: hidden;
}

.liquid-container {
  position: relative;
  overflow: hidden;
  -webkit-transform: initial;
  -moz-transform: initial;
  transform: initial;
}

.clickable {
  cursor: pointer;
}

.success-color {
  color: #5cb85c;
}

.danger-color {
  color: #d9534f;
}

.primary-color {
  color: #03a9f4;
}

.theme-color {
  color: #787878;
  text-shadow: 0px 0px 0px transparent;
}

.link-color {
  color: #818486;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;

  &.link-margin {
    margin: 5px;
  }
}

.list-options {
  display: block;
  width: 50%;
  float: left;
  text-align: center;
  padding: 10px;
  color: #212121;

  span.label {
    display: block;
    color: #212121;
  }
}

.btn-primary {
  background-color: #03a9f4;
  border-color: #03a9f4;

  &:focus {
    background-color: darken(#03a9f4, 10);
    border-color: darken(#03a9f4, 10);
  }

  &:hover {
    background-color: darken(#03a9f4, 10);
    border-color: darken(#03a9f4, 10);
  }
}

.panel-primary {
  border-color: #90a4ae;

  .panel-heading {
    background-color: #90a4ae;
    border-color: #c4c4c4;
  }
}
