section.forget-password-block {
  padding-top: 100px;
  text-align: center;
  background-image: -ms-linear-gradient(top left,#fff 0,$primary-color-light 100%);
  background-image: -moz-linear-gradient(top left,#fff 0,$primary-color-light 100%);
  background-image: -o-linear-gradient(top left,#fff 0,$primary-color-light 100%);
  background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0,#fff),color-stop(1,$primary-color-light));
  background-image: -webkit-linear-gradient(top left,#fff 0,$primary-color-light 100%);
  background-image: linear-gradient(to bottom right,#fff 0,$primary-color-light 100%);

  section.panel-block {
    display: inline-block;
    text-align: initial;
    @media (min-width: 991px) {
      width: 75%;
    }
  }
}
