.navbar {
  box-shadow: inset 0 1px $header-color,0 1px 3px rgba(34,25,25,.4);
  -moz-box-shadow: inset 0 1px $header-color,0 1px 3px rgba(34,25,25,.4);
  -webkit-box-shadow: inset 0 1px $header-color,0 1px 3px rgba(34,25,25,.4);
  background-color: $header-color;

  &.navbar-default {
    border-color: $header-color;;
  }

  .login-link {
    color: $primary-color;
  }

  .notify-menu {
    color: $primary-color;
    padding-top: 5px;
  }
  .notify-badge {
    top: 6px;
    left: 28px;
    font-size: 0.7em;
    background-color: #F00;
    position: absolute;
  }
  .navbar-link {
    padding-top: 20px;
  }
}

.navbar-default .navbar-nav {
  li {
    &:hover{
      background-color: $primary-color;

      .login-link {
        color: #fff;
      }

      .notify-menu {
        color: #fff;
      }

      .profile-name {
        color: #fff;
      }
    }
  }
  .open {
    > a:hover, > a:focus {
      background-color: $primary-color;

      .login-link {
        color: #fff;
      }

      .notify-menu {
        color: #fff;
      }

      .profile-name {
        color: #fff;
      }
    }
  }
}

.logo-wrap {
  display: inline-block;
  .image_full {
   display:block;
  }

 .image_mobile {
   display:none;
 }

@media (max-width: 640px) and (min-width: 320px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }
}
}

.logo {
  margin-top: 2px;
  display: inline-block;
}

@media (max-width: 460px) {
  .logo img {
    width: 150px;
    height: 45px;
    margin-top: 4px;
  }
  .login-nav-li a {
    padding: 10px 4px !important;
  }
}

.profile-name {
  color: $primary-color;
}

.profile-header-avatar {
  color: $primary-color;
  border-radius: 20px;
  margin-left: 12px;
}

span.sidenav-toggle {
  height: 50px;
  display: inline-block;
  float: left;
  font-size: 1.3em;
  cursor: pointer;
  padding: 3px;
}

.fixed-title-bar {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.page-title {
  background-color: $primary-color;
  border-bottom: 1px solid $primary-color;
  color: #fff;
  padding: 7px;
  padding-left: 50px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;

  .right-container {
    padding-right: 25px;
  }
  .btn-wrapper {
    display: inline-block;
    position: fixed;
    right: 0;
    margin-top: -1px;
    margin-right: 15px;
  }
}

svg.inline-svg {
  position: absolute;
  display: inline-block;
}
.svg-menu-toggle {
  fill: #fff;
  pointer-events:all; //needs to be there so the hover works
  cursor:pointer;

  .bar {
    -webkit-transform:rotate(0) translateY(0) translateX(0);
    transform:rotate(0) translateY(0) translateX(0);
    opacity:1;
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
      transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  }
  .bar:nth-of-type(1) {
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
  }
   .bar:nth-of-type(3) {
    -webkit-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
   }
}


.menu-active {
  .bar:nth-of-type(1) {
    -webkit-transform:rotate(-45deg) translateY(0) translateX(0);
    transform:rotate(-45deg) translateY(0) translateX(0);
  }

  .bar:nth-of-type(2) {
    opacity:0;
  }

  .bar:nth-of-type(3) {
    -webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
    transform:rotate(45deg) translateY(0em) translateX(0em);
  }
}

.header-notifications {
  min-width:320px;
  padding: 0;
  .notifications-wrapper {
    overflow:auto;
    max-height:250px;
    p {
      display: inline-block;
      width: 80%;
    }
  }
  .mark-read-text {
    font-size: 1.4rem;
    display: inline-block;
    padding-top: 9px;
    cursor: pointer;
  }
  .header-title {
    color: $primary-color;
    display: inline-block;
  }

  .notification-heading, .notification-footer  {
    padding:2px 10px;
  }

  .divider {
    margin:0;
  }

  .item-title {
    font-size:1.3rem;
    color:#000;
  }
  .item-avatar {
    display: inline-block;
    padding-right: 10px;
    img {
      width: 50px;
      border-radius: 48px;
      display: block;
    }
    span {
      font-size: 0.8em;
      color: #666;
      font-style: italic;
    }
  }
  .avatar-name {
    font-weight: bold;
  }

  .notifications a.content {
    text-decoration:none;
  }

  .notification-item {
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    &.even {
      background-color: #F1F7FB;
    }
    &:hover {
      background-color: #DDF4FF;
    }
  }
}
