.logo {
  margin-top: 2px;
  display: inline-block;
}

.profile-header-avatar {
  border-radius: 20px;
}

.dashboard-avatar img {
  display: block;
  margin: 0 auto;
  border-radius: 60px;
}
.dashboard-avatar a {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  display: block;
  vertical-align: middle;
}
.side-nav {
  border-right: 1px solid #CCC;
  padding: 0;
  min-width: 65px;
}

.body-container {
  margin: 0;
  padding-left: 15px;
  padding-top: 60px;

  .content-container {
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.dashboard-nav .list-group-item {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(33, 32, 32, 0.55) !important;
  background-color: #34495E;
  padding-left: 20px;
  color: #FFF;
  &:hover {
    background-color: #46627F;
    color: #FFF;
  }
  &.active {
    background-color: #46627F;
    border-bottom: none;
    border-left: 3px solid #16A085;
  }
}


.dashboard-nav .list-group-item span {
  padding-left: 10px;
}
.dashboard-avatar {
    padding: 20px 0;
}
.fa-2 {
  font-size: 1.6em;
}
.fa-3 {
  font-size: 4em;
}
.fa-4 {
  font-size: 7em;
}
.fa-5 {
  font-size: 12em;
}
.fa-6 {
  font-size: 20em;
}

.dashboard-nav {
  border-radius: 0;
}

.navbar-nav .fa-bell {
  color: #2980B9;
  padding-top: 5px;
}

.navbar-nav .notify-badge {
  top: 6px;
  left: 28px;
  font-size: 0.7em;
  background-color: #F00;
  position: absolute;
}

.navbar-link {
  padding-top: 20px;
}

@media (max-width: 991px) {
  .side-nav {
    max-width: 65px;
  }
}
