.dashboard-avatar img {
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}
.dashboard-avatar a {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  display: block;
  vertical-align: middle;
}
.side-nav {
  border-right: 1px solid #CCC;
  padding: 0;
  min-width: 65px;
  position: fixed;
  min-height: 100%;
  background-color: #34495E;
}

.body-container {
  margin: 0;
  padding-left: 15px;
  padding-top: 60px;
}

.dashboard-nav .list-group-item {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(33, 32, 32, 0.55) !important;
  border-bottom: 1px solid rgba(33, 32, 32, 0.55) !important;
  background-color: #34495E;
  padding-left: 20px;
  color: #FFF;
  &.active, &:hover {
    background-color: #46627F;
    color: #FFF;
  }
  &.active {
    border-bottom: none;
    border-left: 3px solid #16A085;
  }
}

.dashboard-nav .list-group-item span {
  padding-left: 10px;
  font-size: 1.2em;
}

.dashboard-avatar {
  padding: 20px 0;
  background-color: #FFF;
}

.fa-2 {
  font-size: 1.6em;
}

.dashboard-nav {
  border-radius: 0;
}

.main-content {
  min-height: 700px;
  margin-top: 30px;
  padding-right: 30px;
}

@media (max-width: 991px) {
  .side-nav {
    max-width: 65px;
  }
}

@media (max-width: 650px) {
  .side-nav {
    min-width: 45px;
    max-width: 45px;
  }
  .dashboard-nav .list-group-item {
    padding-left: 12px;
  }
  .title-bar {
    margin-left: 42px;
  }
}

.animate-sidebar {
  -webkit-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.sidebar-hidden {
  margin-left: -350px;
}
