section.request-account-block {
  padding: 100px 15px;
  text-align: center;

  section.register-block {
    display: inline-block;
    text-align: initial;
    border: 1px solid #c4c4c4;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 15px;
    width: 100%;
    @media (min-width: 991px) {
      width: 75%;
    }
  }

  section.confirmation-block {
    display: inline-block;
    text-align: initial;
    padding: 15px;
    width: 100%;
    @media (min-width: 991px) {
      width: 75%;
    }
  }
}
