aside.sidebar {
    position: fixed;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    background: #fff;
    background-color: #34495e;
    float: left;
    min-height: 100%;
    width: 199px;
    overflow: hidden
}

aside.sidebar .user-data-wrapper {
    background: #fff;
    padding: 20px 0;
    text-align: center
}

aside.sidebar .user-data-wrapper .user-pic-wrapper {
    position: relative;
    display: inline;
    display: inline-block
}

aside.sidebar .user-data-wrapper .user-pic-wrapper .user-picture {
    border-radius: 50%
}

aside.sidebar .user-data-wrapper .user-pic-wrapper .picture-edit-link {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    line-height: 160px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    transition: opacity .6s
}

aside.sidebar .user-data-wrapper .user-name-wrapper {
    margin-top: 10px
}

aside.sidebar .sidebar-menu {
    margin: 0
}

aside.sidebar .sidebar-menu .menu-item {
    font-size: 16px;
    transition: .6s background;
    border-top: 1px solid #54677a;
    border-bottom: 1px solid #142638
}

aside.sidebar .sidebar-menu .menu-item a {
    transition: .6s text-indent;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    outline: 0;
    color: #fff;
    padding: 10px;
    display: block
}

aside.sidebar .sidebar-menu .menu-item a i {
    font-size: 20px;
    padding: 0 5px;
    width: 35px;
    text-align: center
}

aside.sidebar .sidebar-menu .menu-item:hover {
    background-color: #46627f
}

aside.sidebar .sidebar-menu .menu-item.active {
    background-color: #46627f;
    border-left: 3px solid #16a085
}

aside.sidebar.sidebar-hidden {
    margin-left: -350px
}
