section.signin-block {
  display: inline-block;
  @include border-shadow();
  padding: 15px;
  width: 100%;
  @media (min-width: 991px) {
    width: 35%;
  }

  form.signin-form {
    display: inline-block;
  }

  section.signin-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

form.signin-form {
  .forget-password {
    text-align: right;
  }
}

.login-modal-header {
  text-align: center;
}
