section.welcome-block {
  padding-top: 100px;
  position: relative;
  min-height: 201px;
  background: url("./img/welcome.jpg") 50% 0% / cover no-repeat rgb(82, 82, 82);
  border-bottom: 1px solid #c4c4c4;

  section.join-now-block {
    height: 450px;
    padding-top: 100px;

    /* make keyframes that tell the start state and the end state of our object */
    @-webkit-keyframes fadeIn {
      from { opacity:0; } to { opacity:1; }
    }
    @-moz-keyframes fadeIn {
      from { opacity:0; } to { opacity:1; }
    }
    @-o-keyframes fadeIn {
      from { opacity:0; } to { opacity:1; }
    }
    @keyframes fadeIn {
      from { opacity:0; } to { opacity:1; }
    }

    .fade-in {
      opacity:0;  /* make things invisible upon start */
      -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation:fadeIn ease-in 1;
      -o-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;

      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      -o-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      -o-animation-duration:1s;
      animation-duration:1s;

      &.one {
        -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
        -o-animation-delay: 0.7s;
        animation-delay: 0.7s;
      }

      &.two {
        -webkit-animation-delay: 1.2s;
        -moz-animation-delay:1.2s;
        -o-animation-delay: 1.2s;
        animation-delay: 1.2s;
      }

      &.three {
        -webkit-animation-delay: 1.6s;
        -moz-animation-delay: 1.6s;
        -o-animation-delay: 1.6s;
        animation-delay: 1.6s;
      }
    }



    /* Chrome, Safari, Opera */
    @-webkit-keyframes slideTop {
      from {
        top: 200px;
        left: 0px;
        opacity:0;
      } to {
        top: 0px;
        left: 0px;
        opacity:1;
      }
    }

    @-moz-keyframes slideTop {
      from {
        top: 200px;
        left: 0px;
        opacity:0;
      } to {
        top: 0px;
        left: 0px;
        opacity:1;
      }
    }
    @-o-keyframes slideTop {
      from {
        top: 200px;
        left: 0px;
        opacity:0;
      } to {
        top: 0px;
        left: 0px;
        opacity:1;
      }
    }

    /* Standard syntax */
    @keyframes slideTop {
      from {
        top: 200px;
        left: 0px;
        opacity:0;
      } to {
        top: 0px;
        left: 0px;
        opacity:1;
      }
    }

    .slide-top {
      opacity: 0;
      position: relative;

      -webkit-animation-name:slideTop;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation-name:slideTop;
      -o-animation-name:slideTop;
      animation-name:slideTop;

      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      -o-animation-fill-mode:forwards;
      animation-fill-mode:forwards;

      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      -o-animation-duration:1s;
      animation-duration:1s;

      &.one {
        -webkit-animation-delay: 2.0s;
        -moz-animation-delay: 2.0s;
        -o-animation-delay: 2.0s;
        animation-delay: 2.0s;
      }

      &.two {
        -webkit-animation-delay: 2.4s;
        -moz-animation-delay: 2.4s;
        -o-animation-delay: 2.4s;
        animation-delay: 2.4s;
      }
    }



    h1.main-text {
      color: $secondary-color;
      margin: 20px;
      @media screen and (min-width: 768px) {
        font-size: 49px;
      }
    }

    p.info-text {
      position: relative;
      margin: 20px;
      color: $primary-color;
      font-family: museo-slab,Georgia,serif;
      font-style: italic;
      font-size: 21px;
      font-weight: 200;
      z-index: 1;
      line-height: 30px;
      letter-spacing: 1px;
      word-spacing: 3px;
    }

    p.btn-join {
      margin: 50px;
    }
  }
}
