<section class="assessment-form-block">
  <div>
    <div class="col-md-12">
      {{#ember-wormhole to="fixed-block" renderInPlace=opentok.fullscreen}}
        <section class="chat-block {{if opentok.fullscreen 'chat-maximized' 'chat-minimized'}}">
          {{mdr-opentok class="videos" model=model}}
        </section>
      {{/ember-wormhole}}
    </div>
    {{#if (or session.role_doctor session.role_assessor)}}
      {{#unless opentok.fullscreen}}
        {{abuse-form model=model class="form-block col-md-12" noneditable=model.form_completed}}
      {{/unless}}
    {{/if}}
  </div>
</section>
