<section class="chat-list-block">
  {{#if model.video_sessions}}
    <ul class="list-unstyled clearfix">
      {{#each model.video_sessions as |video_session|}}
        {{list-chat appointment=video_session}}
      {{/each}}
    </ul>
  {{else}}
    <div class="alert alert-danger">
      No appointments available.
    </div>
  {{/if}}
</section>
