<ol class="breadcrumb">
  <li>
    <a href="#">
      <span>1</span>
      <span>Select Patient</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span>2</span>
      <span>Select Doctor</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span>3</span>
      <span>Reason/ Time</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span>4</span>
      <span>Report</span>
    </a>
  </li>
</ol>
