<div class="col-md-12 bread-crumb">
  <a href="#" class="selected">
    <span>1</span>
    <span class="visible-lg-inline">Select Patient</span>
  </a>
  <a href="#">
    <span>2</span>
    <span class="visible-lg-inline">Select Doctor</span>
  </a>
  <a href="#" class="disabled">
    <span>3</span>
    <span class="visible-lg-inline">Reason for Appointment/Appointment Time</span>
  </a>
  <a href="#" class="disabled">
    <span>4</span>
    <span class="visible-lg-inline">Upload Report</span>
  </a>
</div>
