{{mdr-header}}
<section class="wrapper-main">
  {{outlet}}
</section>

{{#if (and dialog.show dialog.name)}}
  {{#modal-dialog
    close=dialog.hideAction
    targetAttachment="none"
    overlay-class="modal"
    container-class="modal-dialog"
    containerClassNames=dialog.containerClassNames}}
    {{component dialog.name model=dialog.model close=dialog.hideAction}}
  {{/modal-dialog}}
{{/if}}

{{#if session.progressbar}}
  {{mdr-progress-bar}}
{{/if}}
