<section class="assessments-request-block">
  <ul class="nav nav-tabs">
    {{#link-to "assessments.not-started" tagName="li"}}
      <a href="{{view.href}}">Not Started</a>
    {{/link-to}}
    {{#link-to "assessments.started" tagName="li"}}
      <a href="{{view.href}}">Started</a>
    {{/link-to}}
    {{#link-to "assessments.completed" tagName="li"}}
      <a href="{{view.href}}">Completed</a>
    {{/link-to}}
	</ul>
  <section class="tabs-container assessment-tab">
    {{liquid-outlet}}
	</section>
</section>
