<section class="container-fluid">
  <div class="body-container">
    <div class="row">
      {{mdr-sidebar}}
      <div class="content-container">
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</section>
