<section class="container-fluid">
  <div class="body-container">
    <div class="row">
      {{mdr-sidebar}}
      {{! remove all the below classes}}
      <div class="title-bar col-md-offset-2 col-xs-offset-1 col-sm-offset-1">
        <span class="sidenav-toggle active"><i class="fa fa-bars"></i></span>
        <div class="page-title">XYZ Corporation</div>
      </div>
      {{! remove all the classes and add only col-md-12 below}}
      <div class="main-content col-md-10 col-md-offset-2 col-xs-offset-1 col-sm-offset-1">
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</section>
