<section class="request-account-block">
  <section class="register-block">
    <div class="panel panel-primary">
      <div class="panel-heading">ENROLLMENT CONFIRMATION !</div>
      <div class="panel-body">
        <section class="confirmation-block">
          <div class="alert alert-success">
            <p>
              Thank you for enrolling MDRealtime account.
              Your account has been created in the system and a request is sent to your Agency administrator for approval.
              Once it is approved you will receive an email with further detail, please follow the instructions in the message to sign in to use the application.
            </p>
            <p>
              Click {{#link-to 'store-front'}}here{{/link-to}} to return to the site.
            </p>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
