<section class="forget-password-block resizeable-container">
  <section class="panel-block">
    <section class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">FORGET PASSWORD</div>
        <div class="panel-body">
          <p>To retrive your password, please enter the details requested below.</p>
          <p>Not a member yet? {{#link-to 'request-account' class="link"}} Sign up today{{/link-to}}.</p>
          <section class="form-content">
            <form role="form" novalidate {{action "request" on="submit"}} autocomplete="off">
              <div class="form-group row">
                <label class="col-md-4">User name:</label>
                <div class="col-md-6">
                  {{input type="text" class="form-control" name="user-name" value=model.userName autocomplete="off" placeholder="User name"}}
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4">Date of Birth:</label>
                <div class="col-md-6">
                  {{input-date-picker class="form-control" name="dob" placeholder="Click to change" readonly="" value=model.dob}}
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4">Role:</label>
                <div class="col-md-6">
                  {{input-select
                    class="form-control"
                    name="roles"
                    options=model.roles
                    selected=model.selected_timezone
                    prompt="Select"
                  }}
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-2">
                  <button class="btn btn-primary btn-block" type="submit" autocomplete="off">Submit</button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </section>
  </section>
</section>
