<section class="forget-password-block">
  <section class="panel-block">
    <section class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">FORGET PASSWORD</div>
        <div class="panel-body">
          
        </div>
      </div>
    </section>
  </section>
</section>
