<section class="full-page-error-block">
  <section class="col-md-12">
    <div class="alert alert-danger">
      <strong><i class="fa fa-2 fa-warning"></i></strong> Sorry, our system is temprorily unavailable. Please try after sometimes.
    </div>
  </section>
</section>
