<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 home-widget appointment-wg">
    <div class="fa-wrapper hidden-xs">
      <i class="fa fa-calendar"></i>
    </div>
    <div class="widget-body">
      <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
      <div class="big-r-arrow visible-xs-inline-block"></div>
      <div class="fa-xs-wrapper visible-xs-inline-block">
        <i class="fa fa-calendar"></i>
      </div>
      <h4 class="widget-title">Appointments</h4>
      <h3 class="widget-meta">7 New Requests</h3>
      <div class="widget-footer hidden-xs">
        <a href="#">More Info <span class="right-arrow"></span></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 home-widget chat-wg">
    <div class="fa-wrapper hidden-xs">
      <i class="fa fa-comment"></i>
    </div>
    <div class="widget-body">
      <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
      <div class="big-r-arrow visible-xs-inline-block"></div>
      <div class="fa-xs-wrapper visible-xs-inline-block">
        <i class="fa fa-comment"></i>
      </div>
      <h4 class="widget-title">Chat room</h4>
      <h3 class="widget-meta">5 Video Sessions</h3>
      <div class="widget-footer hidden-xs">
        <a href="#">More Info <span class="right-arrow"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 home-widget doctor-wg">
    <div class="fa-wrapper hidden-xs">
      <i class="fa fa-user-md"></i>
    </div>
    <div class="widget-body">
      <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
      <div class="big-r-arrow visible-xs-inline-block"></div>
      <div class="fa-xs-wrapper visible-xs-inline-block">
        <i class="fa fa-user-md"></i>
      </div>
      <h4 class="widget-title">Doctors</h4>
      <h3 class="widget-meta">1 Online</h3>
      <div class="widget-footer hidden-xs">
        <a href="#">More Info <span class="right-arrow"></span></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 home-widget client-wg">
    <div class="fa-wrapper hidden-xs">
      <i class="fa fa-users"></i>
    </div>
    <div class="widget-body">
      <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
      <div class="big-r-arrow visible-xs-inline-block"></div>
      <div class="fa-xs-wrapper visible-xs-inline-block">
        <i class="fa fa-users"></i>
      </div>
      <h4 class="widget-title">Clients</h4>
      <h3 class="widget-meta">4 Active</h3>
      <div class="widget-footer hidden-xs">
        <a href="#">More Info <span class="right-arrow"></span></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 home-widget assessor-wg">
    <div class="fa-wrapper hidden-xs">
      <i class="fa fa-user"></i>
    </div>
    <div class="widget-body">
      <div class="big-r-arrow-overlay visible-xs-inline-block"></div>
      <div class="big-r-arrow visible-xs-inline-block"></div>
      <div class="fa-xs-wrapper visible-xs-inline-block">
        <i class="fa fa-user"></i>
      </div>
      <h4 class="widget-title">Chat room</h4>
      <h3 class="widget-meta">4 Online</h3>
      <div class="widget-footer hidden-xs">
        <a href="#">More Info <span class="right-arrow"></span></a>
      </div>
    </div>
  </div>
</div>