<section class="welcome-block">
	<section class="join-now-block">
		<div class="row">
			<div class="col-md-8 text-center">
				<h1 class="main-text">
					<span class="fade-in one">Connected Care. </span>
					<span class="fade-in two">Anytime. </span>
					<span class="fade-in three">Anywhere. </span>
				</h1>
				<p class="info-text slide-top one">
					MDRealtime connects patients to better care and help physicians make decisions more
					efficiently. Access MDRealtime from wherever you are, home, work or even on vacation!
				</p>
				<p class="info-text slide-top two">

				</p>
			</div>
		</div>
	</section>
	<div class="traits visible-md visible-lg">
		<div href="#spy-doctors" class="trait-box mind">
			<h4><span>Doctors</span></h4>
			<figure>
				<img src="./assets/img/for-doctors.jpg" alt="" width="326" height="184">
			</figure>
			<dl>
				<dt>
					<span class="trait-emblem large mind">
						<span>MIND</span>
					</span>
				</dt>
				<dd>
					MDRealtime helps Doctors, see and treat more patients virtually on their own schedule.
					<a href="#spy-doctors"><span>LEARN MORE</span></a>
				</dd>
			</dl>
		</div>

		<div href="#spy-consumers" class="trait-box body">
			<h4><span>Consumers</span></h4>
			<figure>
			  <img src="./assets/img/for-consumers.jpg" alt="" width="326" height="184">
			</figure>
			<dl>
				<dt>
					<span class="trait-emblem large body">
						<span>BODY</span>
					</span>
				</dt>
				<dd>
					Consult with the doctor from your home, office or even vacation.
					Save time for better things in life!
					<a href="#spy-consumers"><span>LEARN MORE</span></a>
				</dd>
			</dl>
		</div>

		<div href="#spy-providers" class="trait-box soul">
			<h4><span>Providers</span></h4>
			<figure>
				<img src="./assets/img/for-providers.jpg" alt="" width="326" height="184">
			</figure>
			<dl>
				<dt>
					<span class="trait-emblem large soul">
						<span>SOUL</span>
					</span>
				</dt>
				<dd>
					Expand your network reach by providing secure virtual collaboration, between
					healthcare professionals and patients!
					<a href="#spy-providers"><span>LEARN MORE</span></a>
				</dd>
			</dl>
		</div>
	</div>
</section>
