<section class="appointments-request-block">
  <ul class="nav nav-tabs">
    {{#link-to "appointments.requests.pending" tagName="li"}}
      <a href="{{view.href}}">Pending</a>
    {{/link-to}}
    {{#link-to "appointments.requests.accepted" tagName="li"}}
      <a href="{{view.href}}">Accepted</a>
    {{/link-to}}
    {{#link-to "appointments.requests.rejected" tagName="li"}}
      <a href="{{view.href}}">Rejected</a>
    {{/link-to}}
	</ul>
  <section class="tabs-container appointment-tab">
    {{liquid-outlet}}
	</section>
</section>
